.frame {
  box-sizing: border-box;
  width: 500px;
  margin: 4% auto;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.button-row {
  min-width: 30px;
}
.btnaction {
  margin: 15px 15px;
}
